<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylecurso.css">
 
    <title>Administração | Portal Grêmio</title>
    
    <!-- Meta Description -->
    <meta name="description" content="Bem-vindo ao Portal Grêmio, sua fonte de informações sobre mecânica e muito mais.">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <!-- /Google Fonts -->
    
    <link rel="shortcut icon" type="image/png" href="/img/logo/logo2.png">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    
    <!--=============== REMIXICONS ===============--> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="interface"> 
            <section class="logo">
            <img src="img/logo/logo2.png" style="margin-top: 5px;width: 85%;" alt="">
            </section>
            
            <section class="menu-desktop">
                <nav>
                    <ul>
                        <li><a href="index.html">Início</a></li>
                        <li><a href="vest.html">Vestibulinho</a></li>
                        <li><a href="index.html#review" class="active">Cursos</a></li>
                        <li><a href="Esportes.html">Esportes</a></li>
                        <li><a href="gremio.html">Grêmio</a></li>
                        <li><a href="../login.php">Login</a></li>
                    </ul>
                    
                </nav>
                
            </section>
            
        </div>
    </header>

        <div class="slideshow-container">
            <div class="mySlides">
                <img src="img/adm/ADM.png" alt="">
            </div>
          
        </div>
      
     </section>
     
    </section>
    <section class="review" id="review">
        
     <img src="img/adm/sobreadm.png" style="width: 550px;padding: 40px 0px; " alt="">
  <br> 
    <div class="container">

    <div class="card">
        
        <img src="img/adm/card1.png" alt="Imagem 1">
        <div class="card-content">
            <h2><i class="ri-discuss-line card__icon"></i> <br> TÉCNICO EM ADMINISTRAÇÃO</h2>
            <p>Participa da gestão de recursos, executa rotinas administrativas, controla materiais, acompanha eficiência e produtividade, atende clientes, trabalha em equipe, otimiza recursos, inova e mantém postura ética.



               </p>
        </div>
    </div>
    <div class="card">
        <img src="img/adm/card2.png" alt="Imagem 2">
        <div class="card-content">
            <h2> <i class="ri-mail-check-line card__icon"></i><br>GESTÃO E NEGÓCIOS</h2>
            <p>  Forma profissionais para atuar em áreas como administração, finanças, marketing e empreendedorismo, otimizando processos e contribuindo para o crescimento das organizações.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="img/adm/card3.png" alt="Imagem 3">
        <div class="card-content">
            <h2>     <i class="ri-megaphone-line card__icon"></i> <br> MERCADO DE TRABALHO</h2>
            <p>O mercado de trabalho abrange organizações públicas, privadas e do terceiro setor, oferecendo diversas oportunidades em gestão de recursos, administração e atendimento ao público.</p>
        </div>
    </div>
    <div class="card">
        <img src="img/adm/card4.png" alt="Imagem 4">
        <div class="card-content">
            <h2> <i class="ri-money-dollar-circle-line card__icon"></i><br> PRÉ-REQUISITOS</h2>
            <p>Para o cadastro reserva do 2º Módulo, o candidato aprovado no 1º Módulo deve estar na 3ª série do Ensino Médio ou já tê-la concluído, para ingressar no curso técnico, caso haja vaga.</p>
        </div>
    </div>
    <div class="card">
        <img src="img/adm/evento.png" alt="Imagem 5">
        <div class="card-content">
            <h2>  <i class="ri-funds-box-line card__icon"></i> <br>VISITAS TÉCNICAS</h2>
            <p>A Escola Técnica Alfredo de Barros Santos oferece visitas, como à empresa Yakult, onde os alunos conhecem os processos de produção, gestão e inovações no setor, conectando a teoria aprendida com a prática do mercado.</p>
        </div>
        
    </div>
</div>

<section class="review" id="review">
        
    <img src="img/Mec/infraest.png" style="width: 600px; " alt="">
 
<section class="slider-container">
    <div class="slider-images">
        <div class="slider-img">
            <img src="img/adm/lab.png" alt="2" />
            <h1>laboratório de adm</h1>
            <div class="details">
                <p>💡 Contamos com um laboratório de Administração equipado com notebooks e outros recursos tecnológicos, proporcionando aos alunos um ambiente ideal para desenvolver habilidades práticas em gestão, utilizando ferramentas modernas para simulações e análise de dados.</p>
            </div>
          </div>
      <div class="slider-img">
        <img src="img/adm/SALA.jpg" alt="2" />
        <h1>SALAS DE AULA</h1>
        <div class="details">
            <p>🌟 A Escola Técnica Alfredo de Barros Santos possui salas de aula modernas, equipadas com datashow, TV e notebooks para os professores, garantindo um ensino dinâmico e interativo,<br> com recursos tecnológicos que facilitam o aprendizado e a troca de conhecimento.</p>
        </div>
      </div>
      <div class="slider-img">
        <img src="img/adm/palestra.jpg" alt="2" />
        <h1>Auditório para Palestras</h1>
        <div class="details">
            <p> 💡 Contamos com um auditório moderno, ideal para palestras e apresentações. Esse espaço é essencial para fortalecer a comunicação e a troca de conhecimentos, especialmente na área de Técnico em Administração, proporcionando um ambiente adequado para o desenvolvimento de habilidades interpessoais e profissionais dos estudantes.</p>
        </div>
      </div>
      <div class="slider-img active">
        <img src="img/adm/salamk2.png" alt="4" />
        <h1>laboratório</h1>
        <div class="details">
            <p>✨ Possuimos uma sala maker, onde os alunos podem desenvolver projetos práticos e criativos, aplicando conceitos de gestão, planejamento e organização. Esse espaço estimula o aprendizado colaborativo e fortalece habilidades essenciais para o mercado de trabalho.</p>
        </div>
      </div>
      </div>

      </div>

    </div>
    
  </section>
  
 <!-- Footer -->
 <footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Sobre <hr style="border: 1px solid #28a745;"></h3>
            <p>O <strong>Portal Grêmio</strong> é o espaço digital do Grêmio Estudantil, onde você encontra tudo sobre nossa escola, eventos, cursos e muito mais!</p>
        </div>

        <div class="footer-section">
            <div class="footer-logo">
                <img src="img/logo/logo2.png" alt="">
                <hr style="border: 1px solid #28a745;">
            </div>
            <ul class="footer-links">
                <li><a href="index.html">Início</a></li>
                <li><a href="vest.html">Vestibulinho</a></li>
                <li><a href="index.html#review">Cursos</a></li>
                <li><a href="Esportes.html">Esportes</a></li>
                <li><a href="gremio.html">Grêmio</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Contato <hr style="border: 1px solid #28a745;"></h3>
            <p><i class="ri-phone-line card__icon"></i> (12) 3125-2886</p>
            <p><i class="ri-mail-line card__icon"></i> e026acad@cps.sp.gov.br</p>
            <p><i class="ri-map-pin-2-line"></i>R. Alfonso Giannico, 350 - Alto Pedregulho, Guaratinguetá - SP, 12515-160</p>
        </div>
    </div>

    <div class="footer-bottom">
        <p><strong><span style="color: #28a745;">&copy;</span> 2024 | Portal Grêmio.</strong></p>
    </div>
</footer>

  
  <script src="script.js"></script>
  <script>
    jQuery(document).ready(function ($) {
      $(".slider-img").on("click", function () {
        $(".slider-img").removeClass("active");
        $(this).addClass("active");
      });
    });
  </script>

        <script>
            let slideIndex = 0;
            const slides = document.querySelectorAll(".mySlides");
        
            function showSlides() {
                // Esconde todos os slides e remove a classe 'active'
                slides.forEach((slide) => {
                    slide.classList.remove("active");
                    slide.style.display = "none";
                });
        
                // Incrementa o índice do slide
                slideIndex = (slideIndex + 1) % slides.length;
        
                // Exibe o slide atual
                slides[slideIndex].classList.add("active");
                slides[slideIndex].style.display = "block";
        
                // Chama a função novamente após 3 segundos
                setTimeout(showSlides, 4000);
            }
        
            // Inicia o slideshow
            showSlides();

            let items = document.querySelectorAll('.slider .item');
    let next = document.getElementById('next');
    let prev = document.getElementById('prev');
    
    let active = 3;
    function loadShow(){
        let stt = 0;
        items[active].style.transform = `none`;
        items[active].style.zIndex = 1;
        items[active].style.filter = 'none';
        items[active].style.opacity = 1;
        for(var i = active + 1; i < items.length; i++){
            stt++;
            items[i].style.transform = `translateX(${120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(-1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
        stt = 0;
        for(var i = active - 1; i >= 0; i--){
            stt++;
            items[i].style.transform = `translateX(${-120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
    }
    loadShow();
    next.onclick = function(){
        active = active + 1 < items.length ? active + 1 : active;
        loadShow();
    }
    prev.onclick = function(){
        active = active - 1 >= 0 ? active - 1 : active;
        loadShow();
    }
        </script>
</body>

</html>
