<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylecurso.css">
    <title>Esportes | Portal Grêmio</title>
    
    <!-- Meta Description -->
    <meta name="description" content="Bem-vindo ao Portal Grêmio, sua fonte de informações sobre mecânica e muito mais.">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <!-- /Google Fonts -->
    
    <link rel="shortcut icon" type="image/png" href="/img/logo/logo2.png">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="interface"> 
            <section class="logo">
                <img src="img/logo/logo2.png" style="margin-top: 5px;width: 85%;" alt="">
            </section>
            
            <section class="menu-desktop">
                <nav>
                    <ul>
                        <li><a href="index.html">Início</a></li>
                        <li><a href="vest.html">Vestibulinho</a></li>
                        <li><a href="index.html#review">Cursos</a></li>
                        <li><a href="Esportes.html" class="active">Esportes</a></li>
                        <li><a href="gremio.html">Grêmio</a></li>
                        <li><a href="../login.php">Login</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </header>

    <div class="slideshow-container">
        <div class="mySlides">
            <img src="img/esportes/Interclasse.png" alt="">
        </div> 
        <div class="mySlides">
            <img src="img/esportes/Interetec.png" alt="">
        </div>
    </div>

    <section class="review" id="review">
        <img src="img/esportes/logointer.png" style="width: 500px;padding: 40px 0px;" alt="">

        <div class="container">
            <section class="slider-container">
                <div class="slider-images">
                    <div class="slider-img">
                        <img src="img/esportes/interetec1.jpg" alt="2" />
                        <h1>Competição entre ETEC'S</h1>
                        <div class="details">
                            <p>🏆 O InterEtec é um torneio que reúne escolas técnicas da região para competir em diversas modalidades esportivas e culturais, promovendo integração e troca de experiências.</p>
                        </div>
                    </div>
                    <div class="slider-img">
                        <img src="img/esportes/interetec2.png" alt="2" />
                        <h1>Modalidades</h1>
                        <div class="details">
                            <p>🏃 O evento é completo: conta com futsal, vôlei, basquete, queimada, xadrez, além de desafios culturais como dança e bandas. Tem espaço para todo tipo de talento!</p>
                        </div>
                    </div>
                    <div class="slider-img">
                        <img src="img/esportes/musica.png" alt="2" />
                        <h1>Participação ETEC ABS</h1>
                        <div class="details">
                            <p>🐺 Nossa escola participa com muita garra, representando Guaratinguetá em várias modalidades, mostrando o espírito de equipe e o talento dos nossos estudantes.</p>
                        </div>
                    </div>
                    <div class="slider-img active">
                        <img src="img/esportes/interetec3.jpg" alt="4" />
                        <h1>Referência Esportiva</h1>
                        <div class="details">
                            <p>🎉 Na última edição, o evento contou com mais de 4 mil estudantes de várias Etecs do Vale do Paraíba. É um encontro gigantesco de talentos!</p>
                        </div>
                    </div>
                    <div class="slider-img">
                        <img src="img/esportes/interclasse5.png" alt="5" />
                        <h1>Organização</h1>
                        <div class="details">
                            <p>⛹️ Com professores e equipes de educação física à frente, o torneio é planejado para garantir que todos os participantes tenham uma experiência incrível.</p>
                        </div>
                    </div>
                    <div class="slider-img">
                        <img src="img/esportes/interetec4.jpg" alt="6" />
                        <h1>União & Cooperação</h1>
                        <div class="details">
                            <p> 🤝 Mais do que competir, o InterEtec valoriza o trabalho coletivo, reforçando o respeito e a amizade entre alunos de diferentes cidades.</p>
                        </div>
                    </div>
                    <div class="slider-img">
                        <img src="img/esportes/interetec5.jpg" alt="7" />
                        <h1>Tradição & Expectativa</h1>
                        <div class="details">
                            <p> 🎊 O InterEtec é uma tradição anual que só cresce! Para cada nova edição, as expectativas aumentam e a energia da competição se renova.</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="review" id="review">
                <img src="img/esportes/interclasselogo.png" style="width: 500px;" alt="">
        
                <div class="container">
                    <section class="slider-container">
                        <div class="slider-images">
                            <div class="slider-img">
                                <img src="img/esportes/classe1.jpg" alt="2" />
                                <h1>Modalidades</h1>
                                <div class="details">
                                    <p>🎉 A Interclasse oferece esportes coletivos como futsal, vôlei e basquete, além de atividades como luta, dança e games. É um evento que abraça diferentes talentos e interesses!</p>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="img/esportes/classe4.jpg" alt="2" />
                                <h1>Competição e Trabalho em Equipe</h1>
                                <div class="details">
                                    <p>💡 Mais do que competir, a Interclasse é uma oportunidade para aprender sobre colaboração, respeito e amizade dentro e fora da quadra.</p>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="img/esportes/classe3.jpg" alt="2" />
                                <h1>Grêmio & Organização</h1>
                                <div class="details">
                                    <p>🗝️ O Grêmio é peça-chave na organização, ajudando a planejar o evento, incentivar as inscrições e engajar os alunos para que tudo seja incrível.</p>
                                </div>
                            </div>
                            <div class="slider-img active">
                                <img src="img/esportes/classe8.jpg" alt="4" />
                                <h1>Igualdade & Inclusão</h1>
                                <div class="details">
                                    <p>🧑‍🤝‍👩 Todas as modalidades são abertas para todos, com categorias masculinas, femininas e mistas, promovendo a igualdade e a inclusão.</p>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="img/esportes/classe5.jpg" alt="5" />
                                <h1>Esportes Digitais</h1>
                                <div class="details">
                                    <p>🕹️ A presença de games, como Valorant, traz a galera do mundo virtual para o evento, mostrando que a Interclasse também acompanha as tendências.</p>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="img/esportes/classe6.jpg" alt="6" />
                                <h1>Dança & Estilo</h1>
                                <div class="details">
                                    <p> 💃 Além dos esportes, a dança é um dos grandes momentos do evento, com apresentações que envolvem coreografias criativas e muito estilo.</p>
                                </div>
                            </div>
                            <div class="slider-img">
                                <img src="img/esportes/meninas.png" alt="7" />
                                <h1>Educação & Diversão</h1>
                                <div class="details">
                                    <p> 🎊 A Interclasse é mais que competição: é uma grande festa de integração entre os alunos, criando memórias que ficarão para a vida toda.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>

         <!-- Footer -->
    <footer>
      <div class="footer-container">
          <div class="footer-section">
              <h3>Sobre <hr style="border: 1px solid #28a745;"></h3>
              <p>O <strong>Portal Grêmio</strong> é o espaço digital do Grêmio Estudantil, onde você encontra tudo sobre nossa escola, eventos, cursos e muito mais!</p>
          </div>

          <div class="footer-section">
              <div class="footer-logo">
                  <img src="img/logo/logo2.png" alt="">
                  <hr style="border: 1px solid #28a745;">
              </div>
              <ul class="footer-links">
                  <li><a href="index.html">Início</a></li>
                  <li><a href="vest.html">Vestibulinho</a></li>
                  <li><a href="index.html#review">Cursos</a></li>
                  <li><a href="Esportes.html">Esportes</a></li>
                  <li><a href="gremio.html">Grêmio</a></li>
                  <li><a href="#">Login</a></li>
              </ul>
          </div>

          <div class="footer-section">
              <h3>Contato <hr style="border: 1px solid #28a745;"></h3>
              <p><i class="ri-phone-line card__icon"></i> (12) 3125-2886</p>
              <p><i class="ri-mail-line card__icon"></i> e026acad@cps.sp.gov.br</p>
              <p><i class="ri-map-pin-2-line"></i> R. Alfonso Giannico, 350...</p>
          </div>
      </div>

      <div class="footer-bottom">
          <p><strong><span style="color: #28a745;">&copy;</span> 2024 | Portal Grêmio.</strong></p>
      </div>
  </footer>

    </section>

   
    <script src="script.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".slider-img").on("click", function () {
                $(".slider-img").removeClass("active");
                $(this).addClass("active");
            });
        });

        let slideIndex = 0;
        const slides = document.querySelectorAll(".mySlides");

        function showSlides() {
            slides.forEach((slide) => {
                slide.classList.remove("active");
                slide.style.display = "none";
            });

            slideIndex = (slideIndex + 1) % slides.length;
            slides[slideIndex].classList.add("active");
            slides[slideIndex].style.display = "block";

            setTimeout(showSlides, 3000);
        }

        showSlides();
    </script>
</body>
</html>
