<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>KEFI | Portal Grêmio</title>
    
    <!-- Meta Description -->
    <meta name="description" content="Bem-vindo ao Portal Grêmio, sua fonte de informações sobre mecânica e muito mais.">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <!-- /Google Fonts -->
    
    <link rel="shortcut icon" type="image/png" href="/img/logo/logo2.png">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <!--=============== REMIXICONS ===============--> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="interface"> 
            <section class="logo">
            <img src="img/gremio/logoroxo.png" style="margin-top: 5px;width: 85%;" alt="">
            </section>
            
            <section class="menu-desktop">
                <nav>
                  <ul>
                    <li><a href="index.html">Início</a></li>
                    <li><a href="vest.html">Vestibulinho</a></li>
                    <li><a href="index.html#review">Cursos</a></li>
                    <li><a href="Esportes.html">Esportes</a></li>
                    <li><a href="gremio.html" class="active">Grêmio</a></li>
                    <li><a href="../login.php">Login</a></li>
                  </ul>
                  
                    
                </nav>
                
            </section>
           
            
    
        </div>
    </header>

        <div class="slideshow-container">
            <div class="mySlides">
                <img src="img/gremio/kefibac.png" alt="">
            </div>
      
        </div>
      
     </section>
   
   
    </section>
   


<!-- Cursos -->
<section class="review" id="review">

   <img class="cursost" src="img/gremio/kefi.png" style="width: 300px; padding: 40px 0;">

     <div class="main-container">
       <div class="card-grid">
         <!-- Card 1 -->
         <div class="card3" alt ="img/gremio/gremio1.png">
            <img src="img//gremio/gremio7.png" alt="Imagem do card 2">
           <div class="card__content3">
             <p class="card__title3">Financeiro</p>
             <p class="card__description3">A galera do financeiro cuida das finanças do Grêmio, organiza as contas, planeja os orçamentos e garante que tenhamos recursos para realizar nossos projetos e eventos. É a equipe que faz tudo acontecer com responsabilidade!</p>
           </div>
         </div>
 
         <!-- Card 2 -->
         <div class="card3">
            <img src="img//gremio/gremio6.png" alt="Imagem do card 2">
           <div class="card__content3">
             <p class="card__title3">Comunicação</p>
             <p class="card__description3">A galera da comunicação cuida das redes sociais, divulga eventos e mantém todo mundo por dentro das novidades do Grêmio!</p>
           </div>
         </div>
 
         <!-- Card 3 -->
         <div class="card3">
            <img src="img//gremio/gremio4.png" alt="Imagem do card 2">
           <div class="card__content3">
             <p class="card__title3">Esportes</p>
             <p class="card__description3">A galera dos esportes no Grêmio organiza competições e eventos esportivos, incentivando a prática de atividades físicas. É a turma que mantém a energia lá em cima, com torneios e muito espírito de equipe!</p>
           </div>
         </div>
 
         <!-- Card 4 -->
         <div class="card3">
            <img src="img//gremio/gremio5.png" alt="Imagem do card 2">
           <div class="card__content3">
             <p class="card__title3">Presidência</p>
             <p class="card__description3">A presidência do Grêmio é a liderança que organiza e direciona as ações da galera. É quem toma as decisões importantes e garante que tudo aconteça, sempre buscando a união e o bem de todos os estudantes.</p>
           </div>
         </div>
 
         <!-- Card 5 -->
         <div class="card3">
            <img src="img//gremio/gremio3.png" alt="Imagem do card 2">
           <div class="card__content3">
             <p class="card__title3">Cultura</p>
             <p class="card__description3">A cultura no Grêmio é sobre promover diversidade e trazer atividades que envolvem todos os alunos. É música, arte, dança e tudo o que faz a nossa galera brilhar!</p>
           </div>
         </div>
 
         <!-- Card 6 -->
         <div class="card3">
            <img src="img//gremio/gremio2.png" alt="Imagem do card 2">
           <div class="card__content3">
             <p class="card__title3">Relações Acadêmicas</p>
             <p class="card__description3">As Relações Acadêmicas conectam alunos e escola, ajudando a resolver questões e mantendo todo mundo por dentro dos eventos e prazos!</p>
           </div>
         </div>
 
         <!-- Card 7 -->
         <div class="card3">
            <img src="img//gremio/gremio1.png" alt="Imagem do card 2">
           <div class="card__content3">
             <p class="card__title3">Social</p>
             <p class="card__description3">O time do Social do Grêmio Estudantil arrasa nas redes sociais! Elas cuidam do Instagram, postam novidades, memes e deixam todo mundo por dentro de tudo o que rola no Grêmio!</p>
           </div>
         </div>
 
         <!-- Card 8 -->
         <div class="card3">
            <img src="img/gremio/logob.png" alt="Imagem do card 2" >
           <div class="card__content3">
             <p class="card__title3">KEFI</p>
             <p class="card__description3">A logo, com o alce, representa a energia de "KEFI", uma palavra grega que simboliza alegria e paixão pela vida, enquanto o alce transmite resiliência, confiança e determinação.</p>
           </div>
         </div>
       </div>
     </div>
   </div>
 </section>
 <br>
 <br>
 <br>
 <br>

 <img src="img/Index/Integrantes.png" 
 style="width: 100%; align-items: center; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.65); border-radius: 10px;">


<section class="review" id="review" >
    
   <img src="img/gremio/proposta.png" style="width: 600px; padding: 40px 0; " alt="">
<br> 


<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card" tabindex="0">
        <div class="card_image"><img src="img/gremio/esp.png" alt=" "></div>
        <div class="card_content">
          <span class="note">Atividades Esportivas</span>
          <div class="card_text">
            <p> 
            <br>  O Kefi propõe a organização de <b>campeonatos </b> de futsal, handebol e outras modalidades esportivas para meninos e meninas, incentivando a <b> prática esportiva </b> e o espírito de equipe na escola. <br><br><hr><br> Além disso, busca criar mais oportunidades para que todos participem e se destaquem em atividades que promovam <b> saúde, lazer e integração</b> entre os alunos. <br> <br></p>
          </div>
        </div>
      </div>
    </li>

    <li class="cards_item">
      <div class="card" tabindex="0">
        <div class="card_image"><img src="img/gremio/com.png" alt=""></div>
        <div class="card_content">
          <span class="note"> Comunicação & Transparência</span>

          <div class="card_text">
            <p><br>A instalação de um mural para atualizações semanais, garantindo que todos fiquem por dentro das novidades do <b>Grêmio</b>. <br><br><hr><br> Também sugere a colocação de uma televisão no pátio para facilitar a <b>comunicação direta</b> com os alunos e equipe escolar. <br><br> <hr> <br> Além disso, reafirma o <b> compromisso com a transparência</b> e a <b>prestação de contas das atividades</b> realizadas, proporcionando clareza e confiança. <br><br> <hr> <br>O setor de <b> achados e perdidos</b> da escola também será integrado a esta área, para organizar e facilitar a devolução de objetos perdidos.<br><br>
            </p>
          
              
          </div>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card" tabindex="0">
        <div class="card_image"><img src="img/gremio/sc.png" alt=" "></div>
        <div class="card_content">
          <span class="note">Atividades Culturais</span>
          <div class="card_text">
          <br>
            <p> A realização de gincanas para promover a <b> integração</b> e a <b> diversão</b> entre os alunos, festas temáticas em datas comemorativas para celebrar momentos especiais e o apoio à <b> Semana Cultural</b>, dedicada à valorização e expressão artística dos talentos da nossa escola. <br> <br><hr><br> Além disso, busca incentivar iniciativas que promovam <b> Cultura e Arte</b>, fortalecendo o vínculo da comunidade escolar!<br><br></p>
            </p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<br><br>

<!-- Footer -->
<footer>
  <div class="footer-container">
      <div class="footer-section">
          <h3>Sobre <hr style="border: 1px solid #28a745;"></h3>
          <p>O <strong>Portal Grêmio</strong> é o espaço digital do Grêmio Estudantil, onde você encontra tudo sobre nossa escola, eventos, cursos e muito mais!</p>
      </div>

      <div class="footer-section">
          <div class="footer-logo">
              <img src="img/logo/logo2.png" alt="">
              <hr style="border: 1px solid #28a745;">
          </div>
          <ul class="footer-links">
              <li><a href="index.html">Início</a></li>
              <li><a href="vest.html">Vestibulinho</a></li>
              <li><a href="index.html#review">Cursos</a></li>
              <li><a href="Esportes.html">Esportes</a></li>
              <li><a href="gremio.html">Grêmio</a></li>
              <li><a href="#">Login</a></li>
          </ul>
      </div>
      <div class="footer-section">
          <h3>Contato <hr style="border: 1px solid #28a745;"></h3>
          <p><i class="ri-phone-line card__icon" style="font-size: 1rem;"></i> (12) 3125-2886</p>
          <p><i class="ri-mail-line card__icon" style="font-size: 1rem;"></i> e026acad@cps.sp.gov.br</p>
          <p><i class="ri-map-pin-2-line" style="font-size: 1rem;"></i>R. Alfonso Giannico, 350 - Alto Pedregulho, Guaratinguetá - SP, 12515-160</p>
      </div>
  </div>

  <div class="footer-bottom">
      <p><strong><span style="color: #28a745;">&copy;</span> 2024 | Portal Grêmio.</strong></p>
  </div>
</footer>
        <script>
            let slideIndex = 0;
            const slides = document.querySelectorAll(".mySlides");
        
            function showSlides() {
                // Esconde todos os slides e remove a classe 'active'
                slides.forEach((slide) => {
                    slide.classList.remove("active");
                    slide.style.display = "none";
                });
        
                // Incrementa o índice do slide
                slideIndex = (slideIndex + 1) % slides.length;
        
                // Exibe o slide atual
                slides[slideIndex].classList.add("active");
                slides[slideIndex].style.display = "block";
        
                // Chama a função novamente após 3 segundos
                setTimeout(showSlides, 4000);
            }
        
            // Inicia o slideshow
            showSlides();

            let items = document.querySelectorAll('.slider .item');
    let next = document.getElementById('next');
    let prev = document.getElementById('prev');
    
    let active = 3;
    function loadShow(){
        let stt = 0;
        items[active].style.transform = `none`;
        items[active].style.zIndex = 1;
        items[active].style.filter = 'none';
        items[active].style.opacity = 1;
        for(var i = active + 1; i < items.length; i++){
            stt++;
            items[i].style.transform = `translateX(${120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(-1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
        stt = 0;
        for(var i = active - 1; i >= 0; i--){
            stt++;
            items[i].style.transform = `translateX(${-120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
    }
    loadShow();
    next.onclick = function(){
        active = active + 1 < items.length ? active + 1 : active;
        loadShow();
    }
    prev.onclick = function(){
        active = active - 1 >= 0 ? active - 1 : active;
        loadShow();
    }
        </script>
</body>

</html>
