<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Inicio | Portal Grêmio</title>
    
    <!-- Meta Description -->
    <meta name="description" content="Bem-vindo ao Portal Grêmio, sua fonte de informações sobre mecânica e muito mais.">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <!-- /Google Fonts -->
    
    <link rel="shortcut icon" type="image/png" href="/img/logo/logo2.png">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <!--=============== REMIXICONS ===============--> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
</head>
<body>
    <header>
        <div class="interface"> 
            <section class="logo">
            <img src="img/logo/logo2.png" style="margin-top: 5px;width: 85%;" alt="">
            </section>
            
            <section class="menu-desktop">
                <nav>
                    <ul>
                     <li><a href="index.html" class="active">Início</a></li>
                     <li><a href="vest.html">Vestibulinho</a></li>
                     <li><a href="index.html#review">Cursos</a></li>
                     <li><a href="Esportes.html">Esportes</a></li>
                     <li><a href="gremio.html">Grêmio</a></li>
                     <li><a href="../login.php">Login</a></li>
                    </ul>
                    
                </nav>
                
            </section>
      
            
    
        </div>
    </header>

        <div class="slideshow-container">
            <div class="mySlides">
                <img src="img/Index/Welcome.png" alt="">
            </div>
            <div class="mySlides">
                <img src="img/Index/educacao.png" alt="Educação que Transforma">
            </div>
            <div class="mySlides">
                <img src="img/Index/vest.png" alt="Vestibulinho">
            </div>

            <div class="mySlides">
                <img src="img/Index/cnt.png" alt="Conheça nossa ETEC">
            </div>
        </div>
      
     </section>
   
   
    </section>
   


<!-- Cursos -->
<section class="review" id="review">
    <br>
    <img class="cursost" src="img/Index/cursocerto.png" alt="">
<div class="container" >
    <div class="card__container">
       <article class="card__article">
          <div class="card__scale-1"></div>
          <div class="card__scale-2"></div>

          <div class="card__shape-1">
             <div class="card__shape-2"></div>
             <div class="card__shape-3">
                <i class="ri-cursor-fill card__icon"></i>
             </div>
          </div>

          <div class="card__data">
             <h2 class="card__title">Informática</h2>
             
             <p class="card__description">
               Você aprenderá sobre sistemas operacionais, programação, redes e segurança da informação. Com uma formação prática e teórica, desenvolverá habilidades essenciais para o mercado de trabalho. Se você é curioso e gosta de resolver problemas, inscreva-se e comece sua jornada no fascinante mundo da Informática!
             </p>

             <a href="info.html" class="card__button">
               SAIBA MAIS
             </a>
          </div>
       </article>

       <article class="card__article card__orange">
          <div class="card__scale-1"></div>
          <div class="card__scale-2"></div>

          <div class="card__shape-1">
             <div class="card__shape-2"></div>
             <div class="card__shape-3">
                <i class="ri-palette-line card__icon"></i>
             </div>
          </div>

          <div class="card__data">
             <h2 class="card__title">Design Gráfico</h2>

             <p class="card__description">
               Aprenda a criar identidades visuais, layouts, e peças publicitárias, dominando ferramentas e técnicas essenciais da área. Com uma formação prática e teórica, você desenvolverá habilidades para comunicar ideias de forma impactante. Se você é apaixonado por arte e design, inscreva-se e inicie sua jornada para se tornar um profissional inovador no mundo do Design Gráfico!
             </p>

             <a href="dg.html" class="card__button">
                SAIBA MAIS
             </a>
          </div>
       </article>

       <article class="card__article card__green">
          <div class="card__scale-1"></div>
          <div class="card__scale-2"></div>

          <div class="card__shape-1">
             <div class="card__shape-2"></div>
             <div class="card__shape-3">
                <i class="ri-hammer-line card__icon"></i>
             </div>
          </div>

          <div class="card__data">
             <h2 class="card__title">Segurança do Trabalho </h2>

             <p class="card__description">
               Você aprenderá sobre normas regulamentadoras, prevenção de acidentes e gestão de riscos. Com uma formação prática e teórica, estará preparado para promover a saúde e segurança no trabalho, protegendo colaboradores e melhorando a produtividade. Se você se preocupa com o bem-estar das pessoas e busca um futuro na área, inscreva-se e faça a diferença!
             </p>

             <a href="st.html" class="card__button">
                SAIBA MAIS
             </a>
          </div>
       </article>

       <article class="card__article card__green">
        <div class="card__scale-1"></div>
        <div class="card__scale-2"></div>

        <div class="card__shape-1">
           <div class="card__shape-2"></div>
           <div class="card__shape-3">
              <i class="ri-code-box-fill card__icon"></i>
           </div>
        </div>

        <div class="card__data">
           <h2 class="card__title">Desenvolvimento de Sistemas </h2>

           <p class="card__description">
            Aprenda a criar e manter softwares inovadores, dominando linguagens de programação, bancos de dados e metodologias ágeis. Se você tem paixão por tecnologia e deseja construir soluções que impactam o dia a dia das pessoas, este é o curso ideal para você.
           </p>

           <a href="ds.html" class="card__button">
              SAIBA MAIS
           </a>
        </div>
     </article>
   
       <article class="card__article">
          <div class="card__scale-1"></div>
          <div class="card__scale-2"></div>

          <div class="card__shape-1">
             <div class="card__shape-2"></div>
             <div class="card__shape-3">
                <i class="ri-settings-3-line card__icon"></i>
             </div>
          </div>

          <div class="card__data">
             <h2 class="card__title">Mecânica</h2>
             
             <p class="card__description">
               Aprenda sobre processos de produção, manutenção de máquinas e otimização de sistemas industriais. Com uma formação prática e teórica, você desenvolverá habilidades essenciais para atuar em diversas indústrias, garantindo eficiência e qualidade!
             </p>

             <a href="mecanica.html" class="card__button">
               SAIBA MAIS
             </a>
          </div>
        </article>
        <article class="card__article card__orange">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>
  
            <div class="card__shape-1">
               <div class="card__shape-2"></div>
               <div class="card__shape-3">
                  <i class="ri-lightbulb-flash-line card__icon"></i>
               </div>
            </div>
  
            <div class="card__data">
               <h2 class="card__title">Eletromecânica</h2>
  
               <p class="card__description">
                  Aprenda a integrar sistemas elétricos e mecânicos, desenvolvendo habilidades em manutenção, automação e instalação de equipamentos. Com uma formação prática e teórica, você estará preparado para atuar em diversas indústrias. Se você é curioso e gosta de resolver problemas, essa é a sua oportunidade!               </p>
  
               <a href="eletro.html" class="card__button">
                  SAIBA MAIS 
               </a>
            </div>
         </article>
         <article class="card__article card__orange">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>
  
            <div class="card__shape-1">
               <div class="card__shape-2"></div>
               <div class="card__shape-3">
                  <i class="ri-file-3-line card__icon"></i>
               </div>
            </div>
  
            <div class="card__data">
               <h2 class="card__title">Administração</h2>
  
               <p class="card__description">
                  Você aprenderá sobre gestão de empresas, finanças, marketing e recursos humanos, desenvolvendo habilidades essenciais para liderar equipes e tomar decisões estratégicas. Se você é organizado, comunicativo e busca fazer a diferença no mundo dos negócios, essa é a sua chance!               </p>
  
               <a href="adm.html" class="card__button" >
                  SAIBA MAIS
               </a>
            </div>
         </article> 
         <article class="card__article card__green">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>
  
            <div class="card__shape-1">
               <div class="card__shape-2"></div>
               <div class="card__shape-3">
                  <i class="ri-image-2-fill card__icon"></i>
               </div>
            </div>
  
            <div class="card__data">
               <h2 class="card__title">Turismo<br> Receptivo</h2>
  
               <p class="card__description">
                  Aprenda a criar experiências incríveis para os viajantes, desenvolvendo habilidades em atendimento, planejamento e marketing. Se você é apaixonado por viagens e deseja transformar o setor, essa é a sua oportunidade!
               </p>
  
               <a href="tur.html" class="card__button">
                  SAIBA MAIS
               </a>
            </div>
         </article>
         <article class="card__article">
            <div class="card__scale-1"></div>
            <div class="card__scale-2"></div>
  
            <div class="card__shape-1">
               <div class="card__shape-2"></div>
               <div class="card__shape-3">
                  <i class="ri-school-line card__icon"></i>
               </div>
            </div>
  
            <div class="card__data">
               <h2 class="card__title">AMS</h2>
               
               <p class="card__description">
                  O curso de Administração é presencial e permite concluir o Ensino Médio, Técnico e Superior em cinco anos. Nos três primeiros anos, o aluno integra teoria e prática, com 200 horas em uma empresa parceira. Após, pode ingressar em um curso superior de tecnologia sem Vestibular. 
               </p>
  
               <a href="ams.html" class="card__button">
                 SAIBA MAIS
               </a>
            </div>
          </article>
         
 </div>



<!-- About (Sobre a escola e o gremio, introdução)-->

<section class="review" id="review">
    
   <img src="img/Index/gremioe.png" style="width: 350px; " alt="">
<br> <br> <br>


    <div class="row">
        <div class="image">
            <img src="img/Index/KEFI.png" alt="" style="box-shadow: 0 4px 15px #26053b80;">
        </div>

        <div class="content">
    
            <p>
               
               💡• O Grêmio Estudantil é uma organização essencial na escola, voltada para representar e defender os interesses dos alunos, sendo um elo entre estudantes, professores 
               e a administração. Com o objetivo de promover um ambiente mais participativo, o Grêmio organiza atividades culturais, esportivas, acadêmicas e de lazer que contribuem 
               para a formação integral dos alunos, incentivando o protagonismo estudantil e o engajamento com questões que vão além da sala de aula.
               <br> <br>
               <img src="img/Index/linhac.png" style="width: 100%; background-size: cover; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.856);
               background-position: center; align-items: center;  " alt="">
           <br> <br>
              🎯• Ser parte do Grêmio significa poder expressar suas ideias e opiniões, participando ativamente das decisões que impactam a vida escolar de todos. 
              Essa participação fortalece a comunidade estudantil e torna o ambiente escolar mais inclusivo e democrático.
             <br> 
            </p>
            <a href="gremio.html" class="btn" style="background-color: blueviolet;">Conheça o KEFI!</a> 
            
        </div>
    </div>
    
<br> <br> 
<section class="review" id="review">
    
   <img src="img/nos/nos.png" style="width:450px; " alt="">
<br> 
<section class="team-section">
   <div class="card-container">
      <!-- Card 1 -->
      <div class="c-card">
         <img src="img/nos/nat.jpg" alt="Integrante 1" class="card-img">
         <h3>Nathália Rosendo</h3>
         <p style="color: #be8fe6;font-weight: bold;">Desenvolvedora Front-End & Design</p>
         <div class="icon-container">
            <p class="ri-code-box-fill card__icon icon-hover"></p>
            <p class="ri-html5-fill card__icon icon-hover"></p>
            <p class="ri-css3-fill card__icon icon-hover"></p>
            <p class="ri-javascript-fill card__icon icon-hover"></p>
         </div>
         <p>Responsável pela implementação e criação da identidade visual, design e interatividade do site, com foco na apresentação visual eficaz, organização do conteúdo e aprimoramento da experiência do usuário.</p>
      </div>

      <!-- Card 2 -->
      <div class="c-card">
         <img src="img/nos/malu.jpg" alt="Integrante 2" class="card-img">
         <h3>Maria Luiza Souza</h3>
         <p style="  color: #e7de57; font-weight: bold;">Autora do Caderno Monográfico</p>
         <div class="icon-container">
            <i class="fa-regular fa-file-word icon-hover"></i>
            <i class="fa-regular fa-file-powerpoint icon-hover"></i>
            <i class="fa-solid fa-pencil icon-hover"></i>
            <i class="ri-drive-line icon-hover"></i>
         </div>
         <p>Responsável pela elaboração, pesquisa e escrita de toda a monografia, incluindo a organização e estruturação do conteúdo e desenvolvimento, conforme as normas acadêmicas e a entrega de um trabalho completo e bem fundamentado.</p>
      </div>

      <!-- Card 3 -->
      <div class="c-card">
         <img src="img/nos/vitoria.jfif" alt="Integrante 3" class="card-img">
         <h3>Vitória Andrade</h3>
         <p style="color: #7cbfcf;; font-weight: bold;">Analista de Conteúdo e Visualização</p>
         <div class="icon-container">
            <i class="fa-solid fa-chart-simple icon-hover"></i>
            <i class="fa-solid fa-photo-film icon-hover"></i>
            <i class="ri-drive-line icon-hover"></i>
            <i class="ri-html5-fill icon-hover"></i>
         </div>
         <p>Responsável pela elaboração da análise de dados, relatório científico e fotos, com foco na organização do conteúdo e na apresentação visual eficaz do projeto e auxiliando no front-end.</p>
      </div>

      <!-- Card 4 -->
      <div class="c-card">
         <img src="img/nos/wesley.jfif" alt="Integrante 4" class="card-img">
         <h3>Wesley Rodrigues</h3>
         <p style=" color: #87db00; font-weight: bold;">Desenvolvedor Back-end</p>
         <div class="icon-container">
            <i class="ri-html5-fill icon-hover"></i>
            <i class="ri-javascript-fill icon-hover"></i>
            <i class="fa-brands fa-php icon-hover"></i>
            <i class="ri-database-2-fill icon-hover"></i>
         </div>
         <p>Responsável pela implementação da lógica do servidor, integração com o banco de dados e desenvolvimento das funcionalidades que garantem o funcionamento eficiente da plataforma.</p>
      </div>
   </div>
</section>


<!-- Footer -->
<footer>
   <div class="footer-container">
       <div class="footer-section">
           <h3>Sobre <hr style="border: 1px solid #28a745;"></h3>
           <p>O <strong>Portal Grêmio</strong> é o espaço digital do Grêmio Estudantil, onde você encontra tudo sobre nossa escola, eventos, cursos e muito mais!</p>
       </div>

       <div class="footer-section">
           <div class="footer-logo">
               <img src="img/logo/logo2.png" alt="">
               <hr style="border: 1px solid #28a745;">
           </div>
           <ul class="footer-links">
               <li><a href="index.html">Início</a></li>
               <li><a href="vest.html">Vestibulinho</a></li>
               <li><a href="index.html#review">Cursos</a></li>
               <li><a href="Esportes.html">Esportes</a></li>
               <li><a href="gremio.html">Grêmio</a></li>
               <li><a href="#">Login</a></li>
           </ul>
       </div>

       <div class="footer-section">
           <h3>Contato <hr style="border: 1px solid #28a745;"></h3>
           <p><i class="ri-phone-line card__icon" style="font-size: 1rem;"> </i> (12) 3125-2886</p>
           <p><i class="ri-mail-line card__icon" style="font-size: 1rem;"></i> e026acad@cps.sp.gov.br</p>
           <p><i class="ri-map-pin-2-line" style="font-size: 1rem;"></i>R. Alfonso Giannico, 350 - Alto Pedregulho, Guaratinguetá - SP, 12515-160</p>
       </div>
   </div>

   <div class="footer-bottom">
       <p><strong><span style="color: #28a745;">&copy;</span> 2024 | Portal Grêmio.</strong></p>
   </div>
</footer>



        <script>
            let slideIndex = 0;
            const slides = document.querySelectorAll(".mySlides");
        
            function showSlides() {
                // Esconde todos os slides e remove a classe 'active'
                slides.forEach((slide) => {
                    slide.classList.remove("active");
                    slide.style.display = "none";
                });
        
                // Incrementa o índice do slide
                slideIndex = (slideIndex + 1) % slides.length;
        
                // Exibe o slide atual
                slides[slideIndex].classList.add("active");
                slides[slideIndex].style.display = "block";
        
                // Chama a função novamente após 3 segundos
                setTimeout(showSlides, 4000);
            }
        
            // Inicia o slideshow
            showSlides();

            let items = document.querySelectorAll('.slider .item');
    let next = document.getElementById('next');
    let prev = document.getElementById('prev');
    
    let active = 3;
    function loadShow(){
        let stt = 0;
        items[active].style.transform = `none`;
        items[active].style.zIndex = 1;
        items[active].style.filter = 'none';
        items[active].style.opacity = 1;
        for(var i = active + 1; i < items.length; i++){
            stt++;
            items[i].style.transform = `translateX(${120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(-1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
        stt = 0;
        for(var i = active - 1; i >= 0; i--){
            stt++;
            items[i].style.transform = `translateX(${-120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
    }
    loadShow();
    next.onclick = function(){
        active = active + 1 < items.length ? active + 1 : active;
        loadShow();
    }
    prev.onclick = function(){
        active = active - 1 >= 0 ? active - 1 : active;
        loadShow();
    }
        </script>
           <script src="https://code.iconify.design/iconify-icon/1.0.0/iconify-icon.min.js"></script>
</body>

</html>
