<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylecurso.css">
    <title>Segurança do Trabalho | Portal Grêmio</title>
    
    <!-- Meta Description -->
    <meta name="description" content="Bem-vindo ao Portal Grêmio, sua fonte de informações sobre mecânica e muito mais.">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <!-- /Google Fonts -->
    
    <link rel="shortcut icon" type="image/png" href="/img/logo/logo2.png">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    
    <!--=============== REMIXICONS ===============--> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="interface"> 
            <section class="logo">
            <img src="img/logo/logo2.png" style="margin-top: 5px;width: 85%;" alt="">
            </section>
            
            <section class="menu-desktop">
                <nav>
                    <ul>
                        <li><a href="index.html">Início</a></li>
                        <li><a href="vest.html">Vestibulinho</a></li>
                        <li><a href="index.html#review" class="active">Cursos</a></li>
                        <li><a href="Esportes.html">Esportes</a></li>
                        <li><a href="gremio.html">Grêmio</a></li>
                        <li><a href="../login.php">Login</a></li>
                    </ul>
                    
                </nav>
                
            </section>
          
        </div>
    </header>

        <div class="slideshow-container">
            <div class="mySlides">
                <img src="img//st/ST.png" alt="">
            </div>
          
        </div>
      
     </section>
     
    </section>

    <section class="review" id="review">
        
     <img src="img/st/sobrest.png" style="width: 550px; padding: 40px 0;" alt="">
  <br> 
    <div class="container">

    <div class="card">
        
        <img src="img/st/card1.jpg" alt="Imagem 1">
        <div class="card-content">
            <h2><i class="ri-settings-3-line card__icon"></i> <br> TÉCNICO EM SEGURANÇA DO TRABALHO</h2>
            <p>Atua prevenindo riscos e acidentes, orientando sobre o uso de EPIs e EPCs, e garantindo a segurança no ambiente de trabalho. Ele também investiga acidentes, planeja ações de emergência e cria programas de prevenção. <br>
             

               </p>
        </div>
    </div>
    <div class="card">
        <img src="img/st/card2.jpg" alt="Imagem 2">
        <div class="card-content">
            <h2> <i class="ri-hammer-line card__icon"></i></i> <br>SEGURANÇA</h2>
            <p>Forma profissionais capazes de atuar na prevenção de acidentes e riscos no ambiente de trabalho. Eles aprendem a implementar medidas de segurança, orientar sobre o uso de equipamentos de proteção, investigar acidentes e garantir a saúde e bem-estar dos colaboradores.
            </p>
        </div>
    </div>
    <div class="card">
        <img src="img/st/card3.png" alt="Imagem 3">
        <div class="card-content">
            <h2>      <i class="ri-settings-3-line card__icon"></i> <br> MERCADO DE TRABALHO</h2>
            <p> Pode trabalhar em várias áreas, como indústrias, construções e hospitais, ajudando a garantir a segurança dos trabalhadores. Ele é essencial para fiscalizar, treinar e gerenciar riscos, sendo super procurado em empresas de todos os tipos.</p>
        </div>
    </div>
    <div class="card">
        <img src="img/st/card5.png" alt="Imagem 4">
        <div class="card-content">
            <h2> <i class="ri-hammer-line card__icon"></i><br> PRÉ-REQUISITOS</h2>
            <p>Para o cadastro reserva do 2º Módulo, o candidato aprovado no 1º Módulo deve estar na 3ª série do Ensino Médio ou já tê-la concluído, para ingressar no curso técnico, caso haja vaga.</p>
        </div>
    </div>
    <div class="card">
        <img src="img/st/eventos.png" alt="Imagem 5">
        <div class="card-content">
            <h2>  <i class="ri-settings-3-line card__icon"></i> <br>VISITAS TÉCNICAS</h2>
            <p>A Escola Técnica Alfredo de Barros Santos promove visitas como a FISP - Feira Internacional de Segurança e Proteção, onde os alunos conhecem inovações e equipamentos de segurança, aplicando a teoria na prática para melhorar a proteção no trabalho.</p>
        </div>
        
    </div>
</div>

<section class="review" id="review">
        
    <img src="img/Mec/infraest.png" style="width: 600px; " alt="">
 
<section class="slider-container">
    <div class="slider-images">
        <div class="slider-img">
            <img src="img/st/LABST.png" alt="2" />
            <h1>ROUPAS DE SEGURANÇA</h1>
            <div class="details">
                <p>🦺 No laboratório de segurança do trabalho, a galera aprende a usar roupas e equipamentos <br>de proteção para evitar acidentes. Cada tipo de roupa é feito para diferentes riscos, <br>como fogo, produtos químicos ou lesões. O objetivo é ensinar como se proteger de forma<br> certa e segura no trabalho.</p>
            </div>
          </div>
      <div class="slider-img">
        <img src="img/st/eqince.png"" alt="2" />
        <h1>Equipamentos de Incêndio</h1>
        <div class="details">
            <p>🧯Aprendemos sobre os equipamentos de combate a incêndio, como extintores, mangueiras e sistemas de sprinklers. Também são treinados no uso de equipamentos de proteção, como máscaras e capacetes, para garantir a segurança em situações de fogo. O objetivo é saber como agir corretamente em caso de incêndio e usar os equipamentos de forma eficiente para proteger a vida de todos.</p>
        </div>
      </div>
      <div class="slider-img">
        <img src="img/st/card3.png" alt="2" />
        <h1>SIMULADOR DE RCP ELETRÔNICO</h1>
        <div class="details">
            <p>💉 O simulador de RCP eletrônico permite treinar técnicas de reanimação cardiopulmonar<br> (RCP) de forma realista, com feedback imediato sobre o desempenho. Ele ajuda a aprendermos a agir corretamente em emergências e aumentar as chances de salvar uma vida.</p>
        </div>
      </div>
      <div class="slider-img active">
        <img src="img/st/mapa.jpg"" alt="4" />
        <h1>LABORATÓRIO DE DAC</h1>
        <div class="details">
            <p>🗺️ Os alunos de ST têm aulas de AutoCAD no laboratório de Desenho Auxiliado a Computador para criar mapas de risco, identificando perigos como incêndios e quedas. Eles aplicam esse conhecimento na própria escola, ajudando a mapear e garantir a segurança dos ambientes. <br><br> ⚠️ Isso permite que pratiquem o que aprendem e contribuam para um espaço mais seguro. </p>
        </div>
      </div>
      <div class="slider-img">
        <img src="img/st/simulacao.jpg" alt="5" />
        <h1>Simulações</h1>
        <div class="details">
            
            <p>👨‍🚒 A escola faz simulações de incêndio e evacuação com os alunos, ensinando como agir em emergências, identificar rotas de fuga e ajudar na evacuação de forma segura. Essas práticas são fundamentais para garantir a segurança de todos.</p>
        </div>
      </div>
      <div class="slider-img">
        <img src="img/st/lab.png" alt="5" />
        <h1>Laboratório </h1>
        <div class="details">
            
            <p>🌟 A escola tem um laboratório de Segurança do Trabalho completo, com tudo que a galera precisa pra aprender na prática: equipamentos de segurança, roupas de proteção e muito mais!</p>
        </div>
      </div>
      </div>
    </div>
  </section>
<!-- Footer -->
<footer>
  <div class="footer-container">
      <div class="footer-section">
          <h3>Sobre <hr style="border: 1px solid #28a745;"></h3>
          <p>O <strong>Portal Grêmio</strong> é o espaço digital do Grêmio Estudantil, onde você encontra tudo sobre nossa escola, eventos, cursos e muito mais!</p>
      </div>

      <div class="footer-section">
          <div class="footer-logo">
              <img src="img/logo/logo2.png" alt="">
              <hr style="border: 1px solid #28a745;">
          </div>
          <ul class="footer-links">
              <li><a href="index.html">Início</a></li>
              <li><a href="vest.html">Vestibulinho</a></li>
              <li><a href="index.html#review">Cursos</a></li>
              <li><a href="Esportes.html">Esportes</a></li>
              <li><a href="gremio.html">Grêmio</a></li>
              <li><a href="#">Login</a></li>
          </ul>
      </div>

      <div class="footer-section">
          <h3>Contato <hr style="border: 1px solid #28a745;"></h3>
          <p><i class="ri-phone-line card__icon"></i> (12) 3125-2886</p>
          <p><i class="ri-mail-line card__icon"></i> e026acad@cps.sp.gov.br</p>
          <p><i class="ri-map-pin-2-line"></i>R. Alfonso Giannico, 350 - Alto Pedregulho, Guaratinguetá - SP, 12515-160</p>
      </div>
  </div>

  <div class="footer-bottom">
      <p><strong><span style="color: #28a745;">&copy;</span> 2024 | Portal Grêmio.</strong></p>
  </div>
</footer>
  <script src="script.js"></script>
  <script>
    jQuery(document).ready(function ($) {
      $(".slider-img").on("click", function () {
        $(".slider-img").removeClass("active");
        $(this).addClass("active");
      });
    });
  </script>

        <script>
            let slideIndex = 0;
            const slides = document.querySelectorAll(".mySlides");
        
            function showSlides() {
                // Esconde todos os slides e remove a classe 'active'
                slides.forEach((slide) => {
                    slide.classList.remove("active");
                    slide.style.display = "none";
                });
        
                // Incrementa o índice do slide
                slideIndex = (slideIndex + 1) % slides.length;
        
                // Exibe o slide atual
                slides[slideIndex].classList.add("active");
                slides[slideIndex].style.display = "block";
        
                // Chama a função novamente após 3 segundos
                setTimeout(showSlides, 4000);
            }
        
            // Inicia o slideshow
            showSlides();

            let items = document.querySelectorAll('.slider .item');
    let next = document.getElementById('next');
    let prev = document.getElementById('prev');
    
    let active = 3;
    function loadShow(){
        let stt = 0;
        items[active].style.transform = `none`;
        items[active].style.zIndex = 1;
        items[active].style.filter = 'none';
        items[active].style.opacity = 1;
        for(var i = active + 1; i < items.length; i++){
            stt++;
            items[i].style.transform = `translateX(${120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(-1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
        stt = 0;
        for(var i = active - 1; i >= 0; i--){
            stt++;
            items[i].style.transform = `translateX(${-120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
    }
    loadShow();
    next.onclick = function(){
        active = active + 1 < items.length ? active + 1 : active;
        loadShow();
    }
    prev.onclick = function(){
        active = active - 1 >= 0 ? active - 1 : active;
        loadShow();
    }
        </script>
</body>

</html>
