@font-face {
  font-family: 'espander'; /* Escolha um nome para a fonte */
  src: url('fontes/espander-regular.ttf') format('truetype'); /* O caminho para o arquivo da fonte */

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&display=swap');

html {
  scroll-behavior: smooth; /* Ativa a rolagem suave */
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;

}

body {
background-color: hsla(207, 15%, 12%, 0.164);
margin: 0; /* Remove margens padrão do body */
}

.interface {
max-width: 1280px;
margin: 0 auto;
}

header {
width: 100%;
height: 67px;
padding: 5px 0;
position: fixed;
top: 0;
left: 0;
background-color: hsla(207, 15%, 12%, 0.616);
z-index: 1000;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.596);
color: #f0f0f0;
text-align: center;
}

header .interface {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 10px; /* Adiciona um pouco de espaçamento lateral */
}

header .logo img {
max-height: 50px;
width: auto; /* Mantém a proporção da imagem */
}

header .menu-desktop nav ul {
list-style-type: none;
padding: 0; /* Remove o padding padrão */
margin: 0; /* Remove a margem padrão */
}

header .menu-desktop nav ul li {
display: inline-block;
margin: 0 10px;
}

header .menu-desktop nav ul li a {
color: #ffffff;
text-decoration: none;
display: inline;
transition: transform 0.3s;
text-align: center;
}

header .menu-desktop nav ul li a:hover {
transform: scale(1.05);
color: #00b31e;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
header .interface {
    flex-direction: row; /* Mantém a direção em linha */
    align-items: center; /* Alinhamento central */
}

header .menu-desktop nav ul {
    display: flex; /* Mantém o menu em linha */
    justify-content: center; /* Centraliza o menu */
    width: auto; /* Largura automática */
}

header .menu-desktop nav ul li {
    margin: 0 5px; /* Mantém um espaçamento entre os itens */
}

header .logo img {
    width: 100%; /* Ajusta a largura da logo */
    max-height: 40px; /* Ajusta o tamanho máximo da logo */
}
}

@media (max-width: 480px) {
header {
    height: 50px; /* Diminui a altura do header em telas pequenas */
}

header .menu-desktop nav ul li a {
    font-size: 14px; /* Reduz o tamanho da fonte do menu */
}
}

/* Estilo - Hero */
section.hero-site {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinha o conteúdo à esquerda */
  padding-left: 150px; /* Ajustado para mover o texto um pouco mais para a direita */
}

.hero-site .txt-hero {
  max-width: 500px; /* Define uma largura máxima para o texto */
}

.hero-site .txt-hero h1 {
  font-size: 4em;
  line-height: 70px;
  font-weight: 200;
}

.hero-site .txt-hero h1 span {
  display: block;
  font-weight: 800;
}

.hero-site .txt-hero p {
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0;
}

.hero-site .txt-hero p span {
  display: block;
}

.hero-site button {
  width: 220px;
  height: 60px;
  font-size: 20px;
  margin-top: 20px;
 
}



.about {
  padding: 40px 20px;
  background-color: #f0f0f0; /* Fundo cinza */
  text-align: center; /* Centraliza o título */
  font-family: 'espander',sans-serif;
}

.heading {
  margin-bottom: 30px;
  font-size: 2em; /* Tamanho do título */
  font-family: 'espander',sans-serif;

}

.row {
  display: flex; /* Alinha imagem e conteúdo lado a lado */
  justify-content: center; /* Centraliza a linha */
  align-items: center; /* Alinha verticalmente ao centro */
  background-color: #ffffff; /* Fundo branco para a seção interna */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 20px #9d00ff; /* Sombreamento da caixa */
  padding: 20px;
  max-width: 800px; /* Largura máxima da caixa */
  margin: 0 auto; /* Centraliza a caixa na tela */

}

.image {
  flex: 1; /* A imagem ocupa 50% do espaço */
  padding-right: 20px; /* Espaço entre a imagem e o texto */
}

.image img {
  width: 100%; /* A imagem ocupa a largura do container */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 10px; /* Bordas arredondadas na imagem */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombreamento na imagem */
}

.content {
  flex: 1; /* O conteúdo ocupa 50% do espaço */
  text-align: left; /* Alinha o texto à esquerda */
  font-style: normal;
  font-family: 'Quicksand' ;
  color: #ffffff;
  
  
}

.content h3 {
  margin-bottom: 15px; /* Espaço abaixo do título */
  font-size: 15px;
  padding: 30px;
  font-style: normal;
  font-family: 'Quicksand';
  text-align: justify;
  line-height:2;
  
  
}

.content p {
  margin-bottom: 15px; /* Espaço abaixo dos parágrafos */
  font-family: 'Quicksand';
  margin-bottom: 15px; /* Espaço abaixo do título */
  font-size: 15px;
  padding: 30px;
  font-style: normal;
  font-family: 'Quicksand';
  text-align: justify;
  line-height:2;
}

.btn {
  display: inline-block; /* Para que o botão tenha um tamanho adequado */
  padding: 10px 20px; /* Espaço interno do botão */
  background-color: #00b31e; /* Cor de fundo do botão */
  color: #ffffff; /* Cor do texto do botão */
  border: none; /* Remove borda */
  border-radius: 5px; /* Bordas arredondadas no botão */
  text-decoration: none; /* Remove underline do link */
  transition: background-color 0.3s; /* Transição suave ao passar o mouse */
  margin-left: 30px; /* Adiciona margem à esquerda */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.591); /* Sombra do box */
  margin-top: -160px;
}

.btn:hover {
  background-color: #00b31ea4; /* Cor do botão ao passar o mouse */
}

.review {
  
  text-align: center; /* Centraliza o título e o conteúdo */
  background-color:hsl(210, 16%, 12%);
  
}

.heading {
  margin-bottom: 30px;
  font-size: 2em; /* Tamanho do título */
  color: #ffffff;
  font-size: 70px;
  
}

.box-container {
  display: flex;
  justify-content: center; /* Centraliza os boxes */
  flex-wrap: wrap; /* Permite que os boxes quebrem para a próxima linha se necessário */
}

.box {
  background-color: #f9f9f9; /* Fundo do box */
  border: 1px solid #ccc; /* Borda do box */
  border-radius: 10px; /* Bordas arredondadas */
  padding: 20px;
  margin: 15px; /* Espaço entre os boxes */
  max-width: 300px; /* Largura máxima dos boxes */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra do box */
  text-align: center; /* Centraliza o texto dentro do box */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Efeito de hover */
}

.box:hover {
  transform: translateY(-5px); /* Levanta a box ao passar o mouse */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Aumenta a sombra ao passar o mouse */
}

.quote {
  width: 100%; /* Imagem ocupa a largura do box */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 20px 20px 0 0; /* Bordas arredondadas na parte superior */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombreamento na imagem */
  filter: grayscale(100%); /* Inicialmente preto e branco */
  transition: filter 0.5s ease; /* Efeito de transição */
  filter: grayscale(0); /* A imagem ganha cor ao passar o mouse */
}

.box:hover .quote {
  filter: grayscale(100%); /* Inicialmente preto e branco */

}


.contact {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.row {
display: flex;
justify-content: center;
width: 100%;
max-width: 1200px; /* Limita a largura do container */
background: hsl(210, 16%, 12%);
box-shadow: 0 4px 15px #000000; /* Sombreamento na imagem */


}


form {
  flex: 1; /* Formulário ocupa 50% do espaço */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inputbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.inputbox input {
  flex: 1; /* Input ocupa todo o espaço disponível */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4b146d; /* Cor do botão */
  color: white; /* Texto do botão */
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #291d33; /* Cor do botão ao passar o mouse */
}

.slideshow-container {
position: relative;
width: 100%;
height: 100vh; /* Altura total da tela */
overflow: hidden;
box-shadow: 0 2px 10px rgb(0, 0, 0); /* Sombra do box */
}

.mySlides {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: none; 
opacity: 0; 
transition: opacity 1.5s ease-in-out; 
}

.mySlides img {
width: 100%;
height: 100%;
object-fit: cover; /* Ajusta a imagem para cobrir o contêiner */
}

.mySlides.active {
display: block; 
opacity: 1; 
}

.slider {
position: relative;
width: 100%;
height: auto; /* Permite que a altura se ajuste automaticamente */
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
.slideshow-container {
  height: 60vh; /* Ajusta a altura do slideshow em telas menores */
}
}

@media (max-width: 480px) {
.slideshow-container {
  height: 40vh; /* Ajusta a altura para dispositivos móveis */
}
}

.cursost {
width: 100%; /* Faz a imagem ocupar 100% da largura do seu contêiner pai */
max-width: 850px; /* Define uma largura máxima para a imagem */
height: auto; /* Mantém a proporção da imagem */
display: block; /* Remove espaços embaixo da imagem */
margin: 0 auto; /* Centraliza a imagem no contêiner */
}

header .menu-desktop nav ul li a {
transition: transform 0.3s ease, color 0.3s ease;
text-decoration: none;
color: rgb(255, 255, 255);
}

header .menu-desktop nav ul li a:hover {
transform: scale(1.05);
color: #00b31e;
}

header .menu-desktop nav ul li a.active {
transform: scale(1.05);
color: #00b31e; 
font-weight: bold;/* Destaque para o ativo */

}




.container {
display: flex;
flex-wrap: wrap;
gap: 20px;
justify-content: center;
padding: 20px;
background-color: hsl(207, 15%, 12%);
}

.card {
background-color: #fff;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
overflow: hidden;
width: 300px;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
transform: translateY(-10px);
box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card img {
width: 100%;
height: 200px;
object-fit: cover;
border-bottom: 1px solid #ddd;
}

.card-content {
padding: 15px;
}

.card-content h2 {
margin: 0 0 10px;
font-size: 18px;
}

.card-content p {
margin: 0;
color: #555;
}.slider-container {
width: 100%;
height: 100vh;
background-repeat: no-repeat;
background-position: center; 
background-size: cover; 
display: flex; 
align-items: center;
justify-content: center;
}

.slider-images {
display: flex;
align-items: center;
gap: 21px;
}

.slider-images img {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 6px;
}

.slider-img {
width: 110px;
border-radius: 6px;
cursor: pointer;
position: relative;
transition: 0.7s ease;
overflow: hidden; /* Garante que o pseudo-elemento não ultrapasse as bordas da imagem */
}

.slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
height: 480px;
}

.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6) {
height: 560px;
}

.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5) {
height: 665px;
}

h1 {
font-size: 20px;
font-weight: 700;
text-align: center;
text-transform: uppercase;
color: #fff;
position: absolute;
top: 50%;
left: -10%;
transform: rotate(270deg);
transition: 0.7s ease;
z-index: 2; /* Garante que o título fique acima da camada escura */
}

.details {
position: absolute;
bottom: 43px;
left: 43px;
z-index: 2; /* Garante que os detalhes fiquem acima da camada escura */
}

.details h2 {
font-size: 26px;
font-weight: 700;
text-align: left;
line-height: 44px;
color: #fff;
text-transform: uppercase;
transition: 0.7s ease;
display: none;
}

.details p {

font-weight: 400;
text-align: left;
line-height: 33px;
color: #fff;
transition: 0.7s ease;
display: none;
}

.slider-img::before {
content: ''; /* Cria o pseudo-elemento */
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); /* Escurece a imagem com 50% de opacidade */
transition: 0.3s ease; /* Efeito suave de transição */
z-index: 1; /* Fica abaixo do texto */
}

.slider-img:hover::before {
background-color: rgba(0, 0, 0, 0); /* Remove o escurecimento quando o mouse passa sobre a imagem */
}

.slider-img.active {
width: 766px !important;
height: 750px !important;
}

.slider-img.active h1 {
display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
display: block;
}





h1 {

margin-bottom: 10px;
}

li {
display: inline-block;
 list-style-type: none;
padding: 1em;

}

/* Estilo do Footer */
footer {
background: #00000050 no-repeat;
color: #fff;
padding: 20px 300px;
width: 100%;
text-align: center;
margin-top: auto; /* Faz o footer ficar sempre no final da página */
}

.footer-container {
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: 0 auto;
padding: 0 20px;
text-align: center;
align-items: center;
}

.footer-section {
flex: 1;
padding: 0 20px;
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.footer-section h3 {
font-size: 1.4rem;
margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
font-size: 1rem;
color: #ccc;
}

.footer-section ul {
list-style-type: none;
padding: 0;
}

.footer-section ul li {
margin: 5px 0;
}

.footer-section ul li a {
color: #ccc;
text-decoration: none;
transition: color 0.3s ease;
}

/* Hover e active */
.footer-section ul li a:hover {
color: #28a745; /* Cor verde no hover */
}

.footer-section ul li a:active {
color: #28a745; /* Cor verde quando clicado */
}

/* Imagem centralizada */
.footer-section img {
display: block;
margin: 0 auto 20px auto; /* Centraliza a imagem e dá um espaçamento inferior */
width: 100px;
}

/* Estilo da parte inferior do footer */
.footer-bottom {
text-align: center;
margin-top: 20px;
font-size: 0.9rem;
color: #ffffff;
}

