<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Vestibulinho | Portal Grêmio</title>
    
    <!-- Meta Description -->
    <meta name="description" content="Bem-vindo ao Portal Grêmio, sua fonte de informações sobre cursos e muito mais.">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <!-- /Google Fonts -->
    
    <link rel="shortcut icon" type="image/png" href="/img/logo/logo2.png">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  
    <!--=============== REMIXICONS ===============--> 
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="interface"> 
            <section class="logo">
            <img src="img/logo/logo2.png" style="margin-top: 5px;width: 85%;" alt="">
            </section>
            
            <section class="menu-desktop">
                <nav>
                    <ul>
                        <li><a href="index.html">Início</a></li>
                        <li><a href="vest.html" class="active">Vestibulinho</a></li>
                        <li><a href="index.html#review" >Cursos</a></li>
                        <li><a href="Esportes.html">Esportes</a></li>
                        <li><a href="gremio.html">Grêmio</a></li>
                        <li><a href="../login.php">Login</a></li>
                    </ul>
                    
                </nav>
                
            </section>
        
            
    
        </div>
    </header>

        <div class="slideshow-container">
            <div class="mySlides">
                <img src="img/vest/VEST.png" alt="Vestibulinho">
            </div>

           
        </div>
      
     </section>
   
    </section>
   

<section class="review" id="review">

   <img src="img/vest/sobrevest2.png" style="width: 550px; box-shadow: #26053b80;" alt="">
<br> 
<div class="image" style="color: rgb(255, 255, 255);">
    <h1 id="headline">
        <i class="ri-alarm-line card__icon" style="color: rgb(255, 145, 0);"></i><br>
        Contagem regressiva para o início da sua jornada <br> como aluno ETEC!</h1>
    
    <div id="countdown">
      <ul>
        <li><span id="days"></span>Dias</li>
        <li><span id="hours" style="color:rgb(67, 197, 67);"></span> Horas</li>
        <li><span id="minutes"></span>Minutos</li>
        <li><span id="seconds" style="color:rgb(97, 165, 211);"></span>Segundos</li>
      </ul>
    </div>
    <div id="content" class="emoji">
      <span>🥳</span>
      <span>🎉</span>
      <span>🎂</span>
    </div>
  </div>
  <br>
</div>

    <div class="row">
        
        <div class="image">
            <img src="img/vest/vest2.png" alt="" style="box-shadow: 0 4px 15px #26053b80;">
        </div>

        <div class="content">
    
            <p> 📣 • A seleção para o Vestibulinho das Etec's 2025 vai ser uma prova presencial, com perguntas de múltipla escolha, sabe? Então, capricha nos estudos e mostre todo o seu potencial!
               <br><br>
            
               🎯 • Quando você entrar em um dos cursos das Etecs, vai estar dando o primeiro passo para uma carreira de sucesso!<br>
               <br>
               💡• As Etecs oferecem mais de 200 cursos, feitos sob medida para o perfil de cada região, e o melhor: elas ajudam a aumentar a empregabilidade em todo o Estado. <br> 
               <br>
             🏫 • São 228 Etecs e mais de 500 classes descentralizadas espalhadas por 343 municípios de São Paulo. Isso quer dizer que tem uma Etec bem perto de você, pronta para te ajudar a alcançar seus objetivos!</p>
             <br>
            <a href="https://fatweb.s3.amazonaws.com/vestibulinhoetec/documentos/1SEM-25/ManualCandidato.pdf?id=202511" class="btn" style="background-color: rgb(255, 39, 24);">Manual do Candidato</a> 
            
           
</section>
<br><br><br><br>
  <!-- Footer -->
  <footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Sobre <hr style="border: 1px solid #28a745;"></h3>
            <p>O <strong>Portal Grêmio</strong> é o espaço digital do Grêmio Estudantil, onde você encontra tudo sobre nossa escola, eventos, cursos e muito mais!</p>
        </div>

        <div class="footer-section">
            <div class="footer-logo">
                <img src="img/logo/logo2.png" alt="">
                <hr style="border: 1px solid #28a745;">
            </div>
            <ul class="footer-links">
                <li><a href="index.html">Início</a></li>
                <li><a href="vest.html">Vestibulinho</a></li>
                <li><a href="index.html#review">Cursos</a></li>
                <li><a href="Esportes.html">Esportes</a></li>
                <li><a href="gremio.html">Grêmio</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>

        <div class="footer-section">
            <h3>Contato <hr style="border: 1px solid #28a745;"></h3>
            <p><i class="ri-phone-line card__icon" style="font-size: 1rem;"></i> (12) 3125-2886</p>
            <p><i class="ri-mail-line card__icon"  style="font-size: 1rem;"></i> e026acad@cps.sp.gov.br</p>
            <p><i class="ri-map-pin-2-line"  style="font-size: 1rem;"></i> R. Alfonso Giannico, 350 - Alto Pedregulho, Guaratinguetá - SP, 12515-160</p>
        </div>
    </div>

    <div class="footer-bottom">
        <p><strong><span style="color: #28a745;">&copy;</span> 2024 | Portal Grêmio.</strong></p>
    </div>
</footer>


   
<script>
    (function () {
        const second = 1000,
              minute = second * 60,
              hour = minute * 60,
              day = hour * 24;
      
        // Definindo o horário de contagem para 15/12/2024 às 13h30
        let countDownDate = new Date("December 15, 2024 13:30:00").getTime();
        
        const x = setInterval(function() {    
      
            const now = new Date().getTime(),
                  distance = countDownDate - now;
      
            // Atualizando os elementos de contagem
            document.getElementById("days").innerText = Math.floor(distance / (day)),
            document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
            document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
            document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);
      
            // Quando o tempo acabar, exibe uma mensagem e esconde o cronômetro
            if (distance < 0) {
                document.getElementById("headline").innerText = "Seu futuro chegou!";
                document.getElementById("countdown").style.display = "none";
                document.getElementById("content").style.display = "block";
                clearInterval(x);
            }
        }, 0);
    })();
    </script>
    

        <script>
            let slideIndex = 0;
            const slides = document.querySelectorAll(".mySlides");
        
            function showSlides() {
                // Esconde todos os slides e remove a classe 'active'
                slides.forEach((slide) => {
                    slide.classList.remove("active");
                    slide.style.display = "none";
                });
        
                // Incrementa o índice do slide
                slideIndex = (slideIndex + 1) % slides.length;
        
                // Exibe o slide atual
                slides[slideIndex].classList.add("active");
                slides[slideIndex].style.display = "block";
        
                // Chama a função novamente após 3 segundos
                setTimeout(showSlides, 4000);
            }
        
            // Inicia o slideshow
            showSlides();

            let items = document.querySelectorAll('.slider .item');
    let next = document.getElementById('next');
    let prev = document.getElementById('prev');
    
    let active = 3;
    function loadShow(){
        let stt = 0;
        items[active].style.transform = `none`;
        items[active].style.zIndex = 1;
        items[active].style.filter = 'none';
        items[active].style.opacity = 1;
        for(var i = active + 1; i < items.length; i++){
            stt++;
            items[i].style.transform = `translateX(${120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(-1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
        stt = 0;
        for(var i = active - 1; i >= 0; i--){
            stt++;
            items[i].style.transform = `translateX(${-120*stt}px) scale(${1 - 0.2*stt}) perspective(16px) rotateY(1deg)`;
            items[i].style.zIndex = -stt;
            items[i].style.filter = 'blur(5px)';
            items[i].style.opacity = stt > 2 ? 0 : 0.6;
        }
    }
    loadShow();
    next.onclick = function(){
        active = active + 1 < items.length ? active + 1 : active;
        loadShow();
    }
    prev.onclick = function(){
        active = active - 1 >= 0 ? active - 1 : active;
        loadShow();
    }
        </script>
        
</body>

</html>
